<label><b>User list View Component</b></label>
<ng-container *ngFor="let user of users">
    <div [appHighlight]=user.age *ngIf="!act_only.checked || user.activated">
        <app-user-card-component [user]="user" (statusChangedChild)="onStatusChanged($event)"
            (deleteButtonClickChild)="onDeleteButtonClick($event)">
            <div>
                <p>User Details:</p>
            </div>
        </app-user-card-component>
    </div>
</ng-container>
<mat-checkbox #act_only>Show only activated users</mat-checkbox>